.button{
    padding: 4px 28px;
    border-radius: 999px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    font-size: $font-xs;
    font-family: $font-cairo;
    font-weight: 400;
    transition: background .2s;
    cursor: pointer;

    &.ghost{
        color: #000;
        background: transparent;
    }

    &:hover{
        background: #0000000f;
    }
}