
.header{
    @include element-flex(column, flex-start, flex-start);
    width: 100%;
    margin: 0;
    height: 110px;
    z-index: 100;

    &.withSorting{
        height: 165px;
        box-shadow: 0px 4px 120px 3px rgba(0, 0, 0, 0.25);

        .header__list{
            margin: 25px 0 0;
        }
    }

    &__list{
        @include element-flex(row, stretch, center);
        @include constant-width();
        width: 100%;
        height: 60px;
        list-style: none;
        margin: 25px 0;

        border: 2px solid #000;
        border-left: none;
        border-right: none;

        @include phoneWidth{
            justify-content: center;
            margin-top: 0;

            &__button:first-child,
            &__button:nth-last-child(1),
            &__button:nth-last-child(2){
                display: none;
            }
            &__button:nth-child(2){
                border-left: 2px solid #000;
            }
        }
        

        &__button:first-child{
            border-left: 2px solid #000;
        }

        &__button{
            @include element-flex(row, center, center);
            border: 2px solid #000;
            border-top: none;
            border-bottom: none;
            border-left: none;
            text-decoration: none;
            padding: 0 30px;
            height: 60px;
            position: relative;
            cursor: pointer;
            transition: background .2s;

            @include smDesktopWidth{
                padding: 0 20px;
            }

            @include phoneWidth{
                padding: 0 15px;
            }

            &::after{
                content: '';
                width: calc(100% + 4px);
                height: 9px;
                background-color: #000;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 100%);
                display: none;
            }
            &.active::after{
                display: block;
            }
        }
        &__item{
            font-size: $font-s;
            font-family: $font-cairo;
            font-weight: 400;
            @include element-flex(row, center, center);
            column-gap: 1ch;

            &__search{
                width: 100%;
                height: 100%;
                @include element-flex(row, flex-end, center);
            }
        }
    }

    &__sort{
        @include element-flex(row, flex-start, center);
        @include constant-width;
        width: 100%;
        height: 80px;
        background-image: $second-gradient;
        column-gap: 24px;
        padding-top: 10px;

        &__label{
            @include element-flex(row, flex-start, center);
            column-gap: 5px;
            text-transform: uppercase;
            font-weight: 900;
            font-family: $font-roboto;
            font-size: $font-xxs;
        }

        &__delete{
            @extend .header__sort__label;
            border: none;
            background: transparent;
            font-family: $font-cairo;
            font-weight: 400;
            text-transform: none;
            cursor: pointer;
            transition: transform .1s;


            &:hover{
                transform: scale(1.1);
            }
        }

    }

    &__mobile{
        display: none;

        @include phoneWidth{
            @include element-flex(row, flex-end, center);
            width: 100%;
            padding: 0 17px;
            border-top: 2px solid #000;
            margin-top: 18px;
        }

        &__logo{
            width: 133px;
            object-fit: contain;
            margin-right: auto;
        }

        & > .header__list__button{
            border: none;
        }
    }
}