.partner{
    @include element-flex(column, flex-start, center);
    @include gradient-section;
    padding: 25px 15px;
    row-gap: 30px;
    height: 100%;
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    align-self: start;

    &__text{
        width: 100%;
        font-size: $font-s;
        font-family: $font-lato;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-align: justify;
    }

    &__avatar{
        width: 113px;
        height: 113px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.partnerWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 60px;
    margin-bottom: 80px;
}

.partnerHeader{
    @include element-flex(column, flex-start, stretch);
    width: 100%;
    row-gap: 40px;
    margin: 19px 0 80px;

    &__wrapper{
        @include element-flex(column, flex-start, center);
        border-left: 2px dashed #000;
        padding: 0 30px 30px;
        row-gap: 25px;

        & > p{
            width: 100%;
            margin: 0;
        }
    }
}