$font-xxs: 10px;
$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 18px;
$font-xl: 23px;

$font-cairo: 'Cairo', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$main-gradient: radial-gradient(92.47% 94% at -16.1% 46.74%, #F7FF9A 0%, rgba(225, 182, 100, 0.49132) 50.87%, rgba(0, 240, 255, 0.074653) 92.53%);
$second-gradient: linear-gradient(178.81deg, rgba(255, 199, 0, 0.27) 0.89%, rgba(196, 196, 196, 0) 49.96%);
$mobile-gradient: linear-gradient(131.65deg, #F7FF9A -42.24%, rgba(225, 182, 100, 0.49132) 22.64%, rgba(0, 240, 255, 0.074653) 75.79%);
$button-gradient: linear-gradient(115.13deg, #FFC700 -6.52%, #C4C4C4 95.15%);
