.arrowWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 240px 1fr;
    column-gap: 45px;
    margin: 45px 0;
    &__info{
        @include element-flex(row, stretch, center);
        width: 100%;
        height: 100%;
        column-gap: 10px;
    }

    &__title{
        @include section-title;
        max-width: 150px;
        word-break: break-word;
    }

    &__wrapper{
        @include gradient-section;
        width: 100%;
        height: 100%;
    }

    &__column{
        @include element-flex(column, center, flex-start);
        width: 100%;
        min-height: 265px;
    }

    &__spaceBetween{
        @include element-flex(row, space-between, flex-start);
    }
}