.category{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 1fr;
    column-gap: 55px;
    margin: 35px 0;

    &__info{
        @include phoneWidth{
            width: 100%;
        }
    }

    @include phoneWidth{
        @include element-flex(column, flex-start, flex-start);
    }

    &__header{
        width: 100%;
        @include element-flex(row, stretch, center);
        column-gap: 20px;
        &__title{
            @include section-title;
            margin: 0;
            padding: 0;
        }
    }
    &__body{
        @include element-flex(column, center, stretch);
        width: 100%;
        height: calc(100% - 60px);
        border-left: 2px dashed #000;
        padding-left: 30px;
        margin: 30px 0;
    }
    &__wrapper{
        @include element-flex(row, space-between, flex-start);
        @include gradient-section;

        @include phoneWidth{
            @include element-flex(column, flex-start, flex-start);
            max-width: 100%;
        }
    }
}